__pycache__/*
BackgroundVideos/*
OutputVideos/*
Screenshots/*
Voiceovers/*
Lib/*
Scripts/tiktok
Scripts_test
metadata.json
pyvenv.cfg
client_secrets.json
geckodriver.log
authorized_user.json
client_secrets_desktop.json
tiktok/tiktok.ini
Secrets/*
*.pyc