__pycache__/*
BackgroundVideos/*
Lib/*
Scripts_test/tiktok*
Scripts_test/facebook*
Scripts_test/upload*
Scripts_test/youtube*

metadata.json
pyvenv.cfg
client_secrets.json
geckodriver.log
authorized_user.json
client_secrets_desktop.json
Secrets/*
*.pyc